:root {
  font-family: system-ui, Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(90deg, #FCF1FF 0%, #FFF9F2 59%, #FFFFFF 97%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 64px;
  font-family: 'Futura';
  font-weight: 900;
}

h2 {
  font-size: 48px;
  font-family: 'Futura';
  font-weight: 800;
}

h3 {
  font-size: 32px;
  font-family: 'Futura';
  font-weight: 700;
}

p {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}